.page {
  text-decoration: none;
  align-items: baseline;
  padding: 30px;
  padding-left: rem(41px);
  cursor: pointer;
  &:nth-child(odd) {
    border-style: solid;
    border-color: black !important;
    border-width: 1px 1px 0 1px;
    border-bottom: none;
    border-left: solid;
    border-top: none;
    &:first-of-type {
      border-top: 1px solid;
    }
  }
  &:nth-child(even) {
    border: 1px solid black;
  }
  img {
    max-width: rem(24px);
    max-height: rem(21px);
    margin-right: rem(15px);
  }
  span {
    color: #ffffff;
    font-size: rem(24px);
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: rem(48px);
    text-align: left;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
  }
  &:hover {
    background-color: #2c4377;
    border-left: 11px inset #5584ff !important;
  }
  &.active {
    background-color: #2c4172;
    border-left: 11px inset #5584ff !important;
  }
  transition: all 0.5s ease-in-out;
}
